:root {
  --loader-color: #ff0000;
}

[dark-mode="dark"] {
  --loader-color: #ff0000;
}

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  z-index: 100001;
  pointer-events: none;
}

.loader-bar {
  height: 100%;
  background: var(--loader-color);
  transition: width 0.4s cubic-bezier(0.22, 1, 0.36, 1);
  border-radius: 0 2px 2px 0;
}

.loader-glow {
  position: absolute;
  top: 0;
  width: 100px;
  height: 100%;
  background: transparent;
  box-shadow: 10px 0 15px 2px var(--loader-color);
  opacity: 0.6;
  transform: rotate(3deg) translate(0px, -4px);
}